.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper-section {
  background: url(../../img/welcome.png) top, rgba(46, 55, 58, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
}

h1 {
  text-indent: -9999px;
  overflow: hidden;
}

.about {
  padding:100px 0 100px;
  text-align: center;
}

.features {
  background-color: $light-blue;
  padding-top:100px;
}

.projects {
  padding:100px 0 100px;
}

.services {
  background-color: $color-beige;
  padding:100px 0 100px;
}

.testimonials {
  background-color: $blue-color;
  padding-bottom: 100px;
}

.blog {
  background-color: $light-blue;
  padding:100px 0 100px;
}

.contact {
  padding:100px 0 100px;
}

.info {
    text-align: center;

    padding: 0 200px;
}

  .text-section {
    font-family: 'Domine', serif;
    font-size: 15px;
    color: $grey;
    line-height: 25px;
  }

.features-list-1, .features-list-2 {
  display: flex;
  justify-content: space-between;

  li {
    width: 350px;
  }
 }

.title {
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: bold;
   text-transform: uppercase;
   color: $black-color;
   margin-bottom: 20px;
 }



.logo-features {
  display: flex;
  justify-content: center;
}


.icon-before:before {
  content: "";
  background-repeat: no-repeat;
  width: 30px;
  height: 37px;
  position: absolute;
}

.support:before {
   background: url(../../img/icon-24.png);
  margin-left: 20px;
}

.business:before {
  background: url(../../img/icon-bussines.png);
  margin-left: -50px;

}

.security:before {
  background: url(../../img/icon-security.png);
  margin-left: 20px;
}

.creative:before {
  background: url(../../img/icon-creative.png);
  margin-left: -50px;
}

.support, .security {
  text-align: right;

}

.business, .creative {
  text-align: left;
}

.logo-features {
  img {
    padding: 40px;
    background: $white-color;
    border-radius: 50%;
    -webkit-box-shadow: 2px -2px 51px 20px rgba(214,228,231,0.86);
    -moz-box-shadow: 2px -2px 51px 20px rgba(214,228,231,0.86);
    box-shadow: 2px -2px 51px 20px rgba(214,228,231,0.86);
  }
}

.features-info {
 padding-bottom: 90px;
}

.boost-business {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 12px;
  background-color: $dark-grey;

  p {
    font-family: 'Domine', serif;
    font-size: 20px;
    color: $white-color;
  }

  .btn-section {
    margin-top: -11px;
  }
}

.wrapper-projects {
  display: flex;
}

.btn-projects, .btn-services {
  text-align: center;
}

.list-services {
  display: flex;
  justify-content: space-between;

  li {
    width: 33%;
    margin-right: 55px;
  }

  li:last-child {
    margin-right: 0;

  }

  li:before{
    content: "";
    background-repeat: no-repeat;
    width: 40px;
    height: 35px;
    display: block;
    margin-bottom: 30px;
  }
}

.consultation:before {
  background: url(../../img/icon-bag.png);
}

.local-business:before {
  background: url(../../img/icon-rocket.png);
}

.accounting:before {
  background: url(../../img/icon-pig.png);
}

.list-services {
  margin-bottom: 75px;
}

.testimonials {

.container:before{
  content: "";
  background-repeat: no-repeat;
  width: 162px;
  height: 131px;
  display: block;
  background: url(../../img/quote.png);
  }
}
.img-testimonials {
  text-align: center;
  margin-bottom: 35px;


}

.testimonials {
  .header-section {
    h2 {
      color: $white-color;
    }
  }
}

.quote {
  text-align: center;
  color: $white-color;
}

.excerption {
  font-family: 'Domine', serif;
  font-size: 15px;
  line-height: 25px;
  padding: 0 50px;
}

.excerption:after {
  content: "";
  background-repeat: no-repeat;
  width: 30px;
  height: 21px;
  display: block;
  background: url(../../img/quote-2.png);
  position: absolute;
  right: 130px;
}

.client-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0 15px;
  display: block;
}

.designation {
  font-family: 'Domine', serif;
  display: block;
  font-size: 15px;
}

.blog-text {
  span {
    display: block;
    font-family: 'Domine', serif;
    font-size: 15px;
    color:$black-color;
    margin: 0 0 15px;
  }
}

.blog-1 {
  display: flex;
  width: 50%;
  background-color: $white-color;
  border-top: 5px solid $color-green;
  -webkit-box-shadow: 3px -3px 54px 17px rgba(215,228,231,1);
  -moz-box-shadow: 3px -3px 54px 17px rgba(215,228,231,1);
  box-shadow: 3px -3px 54px 17px rgba(215,228,231,1);
}


.blog-img {
  img {
    display: block;
  }
}


.blog-text {
  padding: 40px 60px;
}

.blog-2 {
  width: 50%;
  background-color: $white-color;
  border-top: 5px solid $orange-color;
  -webkit-box-shadow: inset 65px -5px 114px -46px rgba(215,228,231,0.78);
  -moz-box-shadow: inset 65px -5px 114px -46px rgba(215,228,231,0.78);
  box-shadow: inset 65px -5px 114px -46px rgba(215,228,231,0.78);
}

.wrapper-blog {
  display: flex;
}

.btn-blog {
  text-align: center;
  margin-top: 75px;
}

.list-contact {
  display: flex;
  justify-content: space-around;


  h3 {
    margin-bottom: 10px;
  }
    a,p {
    font-family: 'Domine', serif;
    color:$black-color;
    font-size: 18px;
  }

  a:hover {
    text-decoration: none;
    color:$black-color;
  }
}

.contact-info:before {
  content: "";
  background-repeat: no-repeat;
  width: 58px;
  height: 59px;
  display: block;
  margin-bottom: 30px;
}

.contact-email:before {
  background: url(../../img/icon-email.png);
}

.contact-phone:before {
  background: url(../../img/icon-phone.png);
}

.contact-carrer:before {
  background: url(../../img/icon-career.png);
}

.wrapper-page {
  background: url(../../img/welcome.png) top, rgba(46, 55, 58, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
}


.jumbotron-page {

  .container-jumbotron {
    margin: 70px 0 100px;
  }
}

.jumbotron {
  margin-bottom: 0;
}

.title-bloc {
  font-size: 32px;
}

.consultation-about {
  width: 455px;
  background-color: $blue-color;
  padding: 50px 22px 50px;

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: $white-color;
    font-weight: bold;
    margin-bottom: 30px;

  }
}

.about-page {
  .container {
    display: flex;
  }
}

.about-page {
  padding: 100px 0 100px;
}

.info-about {
  div {
    padding: 0 60px 100px 0;
  }
  div:last-child {
    padding: 0 60px 0 0;
  }
}

.video-about {
  margin-bottom: 35px;
}


.cards-about {
  background-color: #e7eff1;
  padding: 100px 0 100px;
}

.title-about {
  font-size: 24px;
}

.list-cards-about {
  display: flex;
  justify-content: space-between;

  .cards-shadow {
    width: 358px;
  }

  img {
    display: block;
  }
}

.cards-shadow:hover {
  -webkit-box-shadow: 0 0 47px 14px rgba(218,228,231,1);
  -moz-box-shadow: 0 0 47px 14px rgba(218,228,231,1);
  box-shadow: 0 0 47px 14px rgba(218,228,231,1);
}


.text-card-about{
  text-align: center;
  padding: 45px 25px 50px;
  background-color: $white-color;
}

.header-section{

  .header-left {
    text-align: left;
  }
}

.industry-page {
  padding: 100px 0 100px;
}

.list-industary {
  display: flex;
  flex-wrap: wrap;

  .cards-shadow:nth-child(odd) {
    margin-right: 30px;
  }

  .cards-shadow {
    display: flex;
    width: 550px;
    margin-bottom: 40px;
  }
}


.text-card-industary {
  padding: 50px 30px 40px;
  border: 1px solid $light-grey;
}


.prising {
  padding: 100px 0 100px;
}

.price-card {
  background-color: $orange-color;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 0 30px 40px;

  span {
    font-size: 33px;
    color:$white-color;
  }

  p:first-child {
    font-size: 13px;
    color:$white-color;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p:last-child {
    font-size: 18px;
    color:$orange-color-2;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.prising-list {
  display: flex;
  justify-content: space-between;

  li {
    width: 33%;
    margin-right: 30px;
  }

  li:last-child{
    margin-right: 0;
  }
}

.plan-description-list {

  li {
    width: 100%;
    line-height: 35px;
  }

 .fa-check:before {
   margin-right: 15px;
   color:$orange-color;
 }
}

.plan-description {
  padding: 50px 0 60px 30px;
  border: 1px solid $light-grey;
  border-top: none;
  height: 350px;
}

.price-card-silver {
  background-color: $blue-color;

  p:last-child {
    color: $sky-color;
  }
}

.price-card-gold {
  background-color: $green-2;

  p:last-child {
    color:$light-green;
  }
}

.plan-description .btn-section {
  position: absolute;
  bottom: -80px;
}

.questions {
  background-color: $light-blue;
  padding: 100px 0 100px;
}

.location {
  padding: 100px 0 100px;
}

.list-location {

  li {
    display: flex;
  }

  .wrapper-location {
     margin:0 0 27px 30px;

    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      color:$black-color;
      font-weight: bold;
      margin-bottom: 10px;
    }

    a:hover {
      color:$grey;
    }
  }

  li:last-child .wrapper-location {
     margin:0 0 0 40px;
  }
}

.connect {
  width: 260px;
}

.information-contact {
  display: flex;
  justify-content: space-between;
}

.write-to-us {
  padding: 100px 0 100px;
  background-color:$light-blue;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-left {
  padding-right: 30px;
}

.wrapper-left, .wrapper-right {
  width: 50%;
}

.clients {
  padding: 100px 0 100px;

  .header-left {
    margin-bottom: 55px;
  }
}

.img-clients {
  margin-right: 35px;

  img {
    border-radius: 50%;
  }
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  li {
    width: 500px;
    display: flex;
    margin-bottom:90px
  }

  li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.quote-clients {

  blockquote:after {
    content: "";
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 13px;
    background: url(../../img/icon-quote.png);
    margin-top: 30px;
    float: right;
  }
}

.text-slide-testimonials {
  width: 460px;
  position: absolute;
  top: 120px;
  left: 50%;


  .text-section, .client-name {
    color: $white-color;
  }

  .designation {
    color:$white-color;
  }

  .text-section:before {
    content: "";
    background-repeat: no-repeat;
    display: block;
    width: 46px;
    height: 31px;
    background: url(../../img/icon-quote-2.png);
    position: relative;
    right: 70px;
    top: 30px;
  }

  .text-section:after {
    content: "";
    background-repeat: no-repeat;
    display: block;
    width: 44px;
    height: 31px;
    background: url(../../img/icon-quote-3.png);
    position: relative;
    left: 480px;
  }

}

.jobs {
  padding: 100px 0 100px;
}

.bold-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color:$black-color;
  font-weight: bold;
  margin-bottom: 20px;
}

.location-job {

  .text-section {
    display: inline;
  }
}

.list-jobs {

   .title-jobs {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $light-grey;
   }

  .btn-career {
    text-align: left;
    margin-top: 50px;

    .btn-section {
      border: none;
      cursor: pointer;

    }

  }
}

.form-jobs {

  .wrapper-left, .wrapper-center, .wrapper-right {
    width: 33%;
  }

  .wrapper-left, .wrapper-center {
    padding-right: 30px;
  }
}

.slide-toggle {
  margin-bottom: 30px;
}


.vacancy, .location-job {
  width: 355px;


}

.btn-job {

  .btn-section:hover {
    background-color: transparent;
    border: 2px solid $color-green;
    color:$black-color;
    box-sizing: content-box;
  }
}

.companies {
  padding: 100px 0 100px;
  background-color: $light-blue;

  .header-section {
    margin-bottom: 15px;

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      color:$grey;
    }
  }

  .slider-logo {
    border-top: none;
  }

}

.blog-post {
  padding: 100px 0 100px;
}

.blog-main {

  img {
    width: 100%;

  }

  .btn-section {
    position: absolute;
    border-radius: 0;
    padding: 10px 50px 10px 20px;
    margin: 30px 30px;
  }
}

.blog-main-text {
  padding: 50px 95px;
}

.list-text {
  font-family: 'Domine', serif;
  font-size: 18px;
  color: $grey;
  line-height: 25px;
  padding: 0 0 50px 197px;

  li {
    width: 100%;
  }

  .fa-check:before {
    margin-right: 15px;
    color:$orange-color;
  }
}

.blog-main-bottom {
  display: flex;
  margin-bottom: 50px;

  p {
    padding: 0 95px 0 35px;
  }
}

.share {
  border-radius: 40px;
  border: 1px solid $light-grey;
  width: 208px;
  padding: 20px 20px;
  text-align: center;
  float: right;
}

.icon-share:hover {
  color: $orange-color;
}

.clearfix:after {
  content: " ";
  display: table;
  clear:both;
  margin-bottom: 50px;
}


.related-post {
  border-top: 1px solid $light-grey;
  padding: 40px 0 0;
}


.list-blog-page {
  display: flex;
  justify-content: space-between;

  li {
    margin-right: 35px;
  }

  li:last-child {
    margin-right: 0;
  }

  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: $orange-color;
  }

  img {
     width: 100%;
     margin-bottom: 30px;
  }
}


.wrapper-comment {
  display: flex;
  justify-content: space-between;
}

.comments-visitors {
  display: flex;
}

.comments  {
  width: 50%;
  background-color: $color-beige-2;
  display: flex;
  justify-content: flex-end;
  padding: 100px 0 100px;
}

.form-comments {
  width: 50%;
  background-color: $light-blue;
  padding: 100px 0 100px 50px;
}

.wrapper-left-comments {
  width: 562px;
}

.wrapper-right-comments {
  width: 562px;
}

.list-comments {

  li {
    display: flex;
    margin-bottom: 70px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li:nth-child(2n) {
    margin-left: 90px;
  }


  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
  }
}

.comment-visitor {
  padding: 0 30px;
  margin-top: 50px;
}


.blog-masonry {
  padding: 100px 0 100px;
}

.icon-blog-masonry {

  .btn-section {
    position: relative;
    border-radius: 0;
    padding: 10px 50px 10px 20px;
    margin: 0;
    cursor: pointer;
  }

  .icon-blog {
    padding: 2px 86px;
    position: absolute;
  }

  .icon-large {
    padding: 2px 112px;
  }
}



.text-card-masonry {
  margin: 35px 0 80px;
}

.icon-masonry-wrapper {
  display: flex;
  justify-content: space-between;
}

.masonry-cards {
  padding: 30px 30px 50px;
  border: 1px solid $light-grey;
}


.row {
  .cards-img {
    padding: 0;

  }
 }


.masonry-cards-img {
  img {
    width: 100%;
  }
}

.cards-img {
  .btn-section {
    position: absolute;
    border-radius: 0;
    padding: 10px 50px 10px 15px;
    margin: 23px 0 0 30px;
    cursor: pointer;
  }

  .icon-blog {
    padding: 31px 135px;
    position: absolute;
  }

  .icon-large-2 {
    padding: 31px 155px;
  }
}

.wrapper-card-masonry {
  padding: 30px 30px 50px;
}


.cards-masonry-color {
  background-color: $blue-color;

  .title, .text-section, .icon-masonry, span {
    color: $white-color;
  }
}

.masonry-img {
  border: none;

  .icon-masonry-wrapper {
    margin-top: -80px;
    padding: 0 30px;
  }

  .icon-masonry, span {
    color: $white-color;
  }

  .masonry-cards-img {
    padding-bottom: 57px;
  }
}

.container-mix {
  margin-bottom: 70px;
}

.item:hover {
  box-shadow: 0 0 47px 14px #dae4e7;
}

.item {
  width: 350px;
  margin-bottom: 35px;
}


.map-responsive{
  overflow:hidden;
  padding-bottom: 40%;
  position:relative;
  height:0;
}




