@media screen and (max-width: 599px) {
  .container {
    width: 320px;
    overflow: hidden;
  }

  .header-section {

    .header-left {
      text-align: center;
    }
  }

.list-navigation{
  margin-bottom: 30px;
}


  .item {
     width: 100%;
  }
}
