$white-color:#ffffff;
$color-beige:#fffaf3;
$light-blue:#e7eff1;
$color-beige-2:#fbf5ef;
$light-blue-1:#d5f6ff;
$sky-color:#aee9f9;
$light-blue-2:#7cddf7;
$blue-color:#03b6e7;
$light-green:#c9ffdb;
$color-green:#16d428;
$green-2:#55bd77;
$light-grey:#e2e2e2;
$grey:#838b8c;
$orange-color-2:#fae0c5;
$orange-color:#f6961b;
$red-color:#e4463b;
$yellow-color:#b1a58d;
$black-color:#343a3b;
$dark-grey:#565d5d;
$black:#262829;
$transparent-grey:#323334;
$blue-2:#314a7d;




































